/* Styling for the content  */
.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  /* background-color: #282c34; */
  background-color:  rgb(32,32,32);
  border-radius: 10px;
  position: relative;
  /*font-family: "Montserrat", sans-serif;*/
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.media:hover {
  /* background-color: white; */
  background-color:	rgb(128,128,128);
  
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}
